<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AvailableProducts</key>
	<dict>
		<key>Widget</key>
		<dict>
			<key>AppIconFGImagePoint</key>
			<string>{0, 0}</string>
			<key>AppIconFGImageSize</key>
			<string>{75, 75}</string>
			<key>AppIconIncludeFGImage</key>
			<true/>
			<key>CYBackwardCompatibleExport</key>
			<false/>
			<key>CYShineVersion</key>
			<integer>2</integer>
			<key>MainCSS</key>
			<string>main.css</string>
			<key>MainJS</key>
			<string>main.js</string>
			<key>ProductDir</key>
			<string>widget.wdgt</string>
			<key>Steps</key>
			<array>
				<dict>
					<key>Completed</key>
					<true/>
					<key>Detail</key>
					<string>Custom_Step_1_Detail</string>
					<key>MainHelp</key>
					<string>Tag(200)</string>
					<key>Required</key>
					<true/>
					<key>Title</key>
					<string>Custom_Step_1_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<true/>
					<key>Detail</key>
					<string>Custom_Step_2_Detail</string>
					<key>MainHelp</key>
					<string>Tag(201)</string>
					<key>Required</key>
					<true/>
					<key>Title</key>
					<string>Custom_Step_2_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<true/>
					<key>Detail</key>
					<string>Custom_Step_3_Detail</string>
					<key>MainHelp</key>
					<string>Tag(202)</string>
					<key>Required</key>
					<true/>
					<key>Title</key>
					<string>Custom_Step_3_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<true/>
					<key>Detail</key>
					<string>Custom_Step_4_Detail</string>
					<key>MainHelp</key>
					<string>Tag(203)</string>
					<key>Recommended</key>
					<true/>
					<key>Title</key>
					<string>Custom_Step_4_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<true/>
					<key>Detail</key>
					<string>Custom_Step_5_Detail</string>
					<key>MainHelp</key>
					<string>Tag(204)</string>
					<key>Recommended</key>
					<true/>
					<key>Title</key>
					<string>Custom_Step_5_Title</string>
				</dict>
				<dict>
					<key>Completed</key>
					<true/>
					<key>Detail</key>
					<string>Custom_Step_6_Detail</string>
					<key>MainHelp</key>
					<string>Tag(205)</string>
					<key>Recommended</key>
					<true/>
					<key>Title</key>
					<string>Custom_Step_6_Title</string>
				</dict>
			</array>
			<key>TemplateIdentifier</key>
			<string>com.apple.Dashcode.template.custom</string>
		</dict>
	</dict>
	<key>CYProjectFormatVersion</key>
	<integer>40</integer>
</dict>
</plist>
